@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: Inter;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  flex-grow: 1;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loader {
  border-top-color: #9333ea;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}
